@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Exercise 02";

    var db = Database.Open("CHDB"); //open chinook database
    var theButton = Request.Form["theButton"];
    var artistName = "";
    var albumName = "";
    var albumYear = "";
    var albumLabel = "";

    var artistQuery = "SELECT ArtistId, Name "
                    + "FROM Artists "
                    + "ORDER BY 2";

    var artistResults = db.Query(artistQuery);

    var artistInsert = "INSERT INTO Albums (Title, ArtistId, ReleaseYear, ReleaseLabel) " +
                        "VALUES(@0, @1, @2, @3) ";
    Validation.Add("titleEntry",
        Validator.Required("Album Name is required"));
    Validation.Add("yearEntry",
        Validator.Integer("Record year must be a whole number"),
        Validator.Range(1950, DateTime.Today.Year, "Year must be between 1950 and 2020"),
        Validator.Required("Album Year is required"));


}
@section head{
    <link href="~/Content/myStyleSheet.css" rel="stylesheet" />
}
@section banner{
    <h1>Exercise 03: Database Data Entry</h1>
}

@if(IsPost)
{
    if (theButton.Equals("Clear"))
    {
        //reset all the things
        artistName = "";
        albumName = "";
        albumYear = "";
        albumLabel = "";
        <p class="col-sm-11 text-center">Cleared by user</p>
    }
    else //do the things
    {
       //fill from form
        artistName = Request.Form["artistSelect"];
        albumName = Request.Form["titleEntry"];
        albumYear = Request.Form["yearEntry"];
        albumLabel = Request.Form["labelEntry"];
        <p>Artist ID is @artistName</p>
    }
}

<div>
    <form id="EX01" method="post">
        <div class="row">
            <div class="col-sm-3">
                <!-- column labels-->
                <label> Title:</label><br />
                <label> Artist:</label><br />
                <label> Year:</label><br />
                <label> Label:</label><br />
            </div>
            <div class="col-md-2">
                <!-- inputs here-->
                <input type="text" id="titleEntry" name="titleEntry" maxlength="160"/><br />
                <select id="artistSelect" name="artistSelect">
                    <option value="0">select ...</option>
                    @foreach (var item in artistResults)
                    {
                        if (albumName.Equals(item[0].ToString()))
                        {
                            <option value="@item[0]" selected>@item.Name</option>
                        }
                        else
                        {
                            <option value="@item[0]">@item.Name</option>
                        }
                    }
                 </select><br />
                <input type="text" id="yearEntry" name="yearEntry" placeholder="1950-2020" /><br />
                <input type="text" id="labelEntry" name="labelEntry"  maxlength="50"/><br />
                
            </div>
        </div>
        <br />
        <div class="row">
            <!-- make some buttons for user to interact with-->
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            <button type="submit" id="PressMe" name="theButton" value="submit" class="btn btn-primary" style="width:90px">Add</button>
            &nbsp;&nbsp;
            <input type="submit" id="PressMe" name="theButton" value="Clear" class="btn" style="width:90px" />
        </div>


    </form>
</div>
@section footer{
    <p>&copy CPSC1517, Nait Today's date is @DateTime.Today.ToLongDateString().</p> }